{%if not error%}
<ul class='scheduler-dates' id="{{schedule_hash}}">
  {% for date in dates %}
  {%if date.times_set.all %} 
   <li>
   <div class="scheduler-date">{{date.date}}</div>
   		<ul class='scheduler-times'>
   		{% for time in date.times_set.all %}
   			<li>Время: {{time.time}}: {%if time.get_free_places > 0%} 
   			<div class="scheduler-register"> Свободно {{time.get_free_places}} мест</div>
   			 <div class="scheduler-user-form">
   			   <form action="{%url  'scheduler.views.register_user' %}" method="post">
    				{% csrf_token %}
    				<input type="hidden" name="timepk" value="{{time.pk}}">
    				{{ userform }}
    			<input type="submit" value="Зарегистрироваться" >
				</form>
   			 </div>
   			 {%else%} Занято {%endif%} </li>
   		{%endfor%}
   		</ul>
   </li>
   {%endif%}
  {%endfor%}
</ul>

<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js";
    document.getElementsByTagName('head')[0].appendChild(script);
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




$(document).ready(function(){
var csrftoken = getCookie('csrftoken');

$('div.scheduler-register').click(function(){
			
			var was_closed = true;
			
			if ($(this).siblings('.scheduler-user-form').is(':visible')) {
			was_closed = false;
			}
			
			$('#{{schedule_hash}}').children('.scheduler-user-form').slideUp()
			
			if (was_closed) {
				$(this).siblings('.scheduler-user-form').slideDown()
				}
			});
	
			

});


$("div.scheduler-user-form > form").submit(function( event ) {


NOT READY...
event.preventDefault();
});


</script>



{%else%}
<h2>Произошла ошибка при созданни формы расписания</h2>
{%endif%}