{%load staticfiles%}
{%if not error%}
<ul class='scheduler-dates' id="schedule-{{schedule_pk}}">
  {% for date in dates %}
  {%if date.times.all %} 
   <li>
   <div class="scheduler-date">{{date.date|date:"d F, l"}}</div>
   		<ul class='scheduler-times'>
   		{% for time in date.times.all %}
   			<li>{%if time.get_registered <= 0%} 
   			<div class="scheduler-register"> Время: {{time.time|time:"H:i"}} </div>
   			 <div class="scheduler-user-form" data-time="{{time.pk}}" data-upk="{{time.user.pk}}">
    				{% csrf_token %}
    				{{ userform.as_table }}
    				 <input type="button" value="Зарегистрироваться" >
   			 </div>
				<div class="scheduler-error"></div>   			 
				<div class="scheduler-msg"></div>
   			 {%else%}Время: {{time.time|time:"H:i"}}:<div class="scheduler-occupied">Занято</div> {%endif%} </li>
   		{%endfor%}
   		</ul>
   </li>
   {%endif%}
  {%endfor%}
</ul>
{%else%}
<h2>Произошла ошибка при созданни формы расписания</h2>
{%endif%}