{%load scheduler_tags sekizai_tags staticfiles%}
{%show_form object.schedule.pk%}
     
         
{%addtoblock "css"%}
 <link rel="stylesheet" type="text/css" href="{%static "css/dj_scheduler.css"%}">
{%endaddtoblock%}        

{%addtoblock "js"%} 
<script type="text/javascript">
$(document).ready(function(){
$('div.scheduler-register').click(function(){
			
			var was_closed = true;
			
			if ($(this).siblings('.scheduler-user-form').is(':visible')) {
			was_closed = false;
			}
			$('.scheduler-user-form').slideUp();
			$('.scheduler-error').html('');
			$('.scheduler-msg').html('');
			$('.scheduler-user-form').parent('li').css({'border': ''});
			$("input[type='button']").each(function(){$(this).prop('disabled', false);});
			$('input.sсheduler-renew').hide();
			
			if (was_closed) {
				$(this).siblings('.scheduler-user-form').slideDown();
				}
			});
	
			

});

$("input[type='text']").keypress( function() {
  $('.scheduler-user-form').parent('li').css({'border': ''});
  $('.scheduler-error').html('');
  $('.scheduler-msg').html('');
});

$("div.scheduler-user-form input[type='button']").click(function( event ) {
				var tosent ={};
				var currentel = $(this).parent();
        tosent['upk'] = $(currentel).data('upk');
				tosent['timepk'] = $(currentel).data('time');
				tosent['username'] = $(currentel).children('input[name="username"]').val();
				tosent['phone'] = $(currentel).children('input[name="phone"]').val();
				tosent['email'] = $(currentel).children('input[name="email"]').val();
				tosent['num'] = $(currentel).children('select[name=num]').val();
 				$(currentel).parent('li').css({'border': ''});
				$('.scheduler-error').hide();				
				$.ajax({
					url: "{% url 'bgi-scheduler' %}",
					cache: false,
					type: "POST",
					dataType: "json",
					data: tosent,
					}).done(function(rdata) {
					if (rdata['msg'].length>0){
						 $(currentel).siblings('.scheduler-msg').html('<h3>' + rdata['msg'] + '</h3>');
						 $(currentel).siblings('.scheduler-msg').show();
						 $(currentel).children("input[type='button']").prop('disabled', true);
						 $(currentel).siblings('input.sсheduler-renew').show();
						 $(currentel).siblings('input[type="text"]').val('');
							}
					else {
						if (rdata['error'].length>0){
						$(currentel).parent('li').css({'border': '5px solid red'});
 						$(currentel).siblings('div.scheduler-error').html('<h3 style="color: red">' + rdata['error'] + '</h3>');
 						$(currentel).siblings('div.scheduler-error').show();
 						 	}
						}
					});

});
</script>
        
{%endaddtoblock%}        
