.scheduler-dates {
	list-style-type: none;
	float: left;
	display: block;
	
}

.scheduler-date{
font-weight: bold;
font-size: 20pt;
cursor: pointer;
}

.scheduler-date:hover{
background-color: #AAEECC;
}

.scheduler-dates > li {
	float: left;
	display: block;
	min-width: 50%;
        margin: 5px;
}


.scheduler-times{
	list-style-type: none;
	
	padding: 10px;
	display: none;
 }
 
 
 .scheduler-times > li {
	padding-top: 10px;
 }
 
.scheduler-error{
	display: none;
}

.scheduler-msg{
	display: none;

}

.scheduler-user-form{
	display: none;

}

.scheduler-user-form select {
min-width: 40px;
min-height: 30px;
padding: 5px;
}

.scheduler-register {
cursor: pointer;
font-size: 16pt;

}

.scheduler-register:hover {
background-color: #AAEECC;
}

.scheduler-user-form * {
	
display: block;
}

.sсheduler-renew{
min-height: 30px;
min-width: 100px;
background-color: cyan;
}



input[type=button]{
cursor:pointer;
min-height: 30px;
min-width: 70px;
}

.scheduler-occupied{
color: red;
font-weight: bold;
display: inline-block;
}